{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="{% static 'offers/css/style.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'offers/images/logo.png' %}" alt="Logo">
    </header>

    <div class="center">
        <h1>Добро пожаловать в Commercial Offer App</h1>
        <p>Данное приложение создано в рамках учебного проекта и для дальнейшего внутреннего пользования ГК "ИТФ"</p>
        <p>Вход для менеджеров Коммерческого отдела</p>
        <br>
        <a href="{% url 'login' %}" class="button">ВОЙТИ</a>
    </div>

    <footer>
        <p>&copy; 2024 Commercial Offer App</p>
    </footer>
</body>
</html>